.Header h1{
    float: left;
    margin: 0 0 0 100px;
    padding: 5px;
}

.Header2{
    float: right;
    margin: 10px 50px 0 0;
    padding: 5px;
}

.Header{
    overflow: auto;
    clear: both;
    border-style: Solid;
    border-color: black;
    background-color: lightgrey;
    height: 50px;
}

.Footer{
    position: fixed;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: solid;
    border-color: black;
    background-color: lightgrey;
}