.Header{
    overflow: auto;
    clear: both;
    border-bottom-style: solid;
    border-width: thin;
    border-color: black;
    background-color: lightgrey;
    height: 50px;
    margin: 0 0 0 0;
}

.Header h1{
    float: left;
    margin: 0 0 0 150px;
    padding: 6px;
    background-color: lightskyblue;
}

.HeaderLinks{
    float: right;
    margin: 10px 150px 0 0;
    padding: 5px;
}

.full{
    background-color: lightgrey;
    height: 450px;
    margin: 0 150px 0 150px;
}

.Footer{
    position: fixed;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: solid;
    border-color: black;
    background-color: lightgrey;
}

.AboutMe p{
    font-size: 1.5em;
}

.AboutMe img{
    float: left;
    margin: 10px 10px 5px 10px;
}

.full h2{
    overflow: auto;
    clear: both;
    border-bottom-style: solid;
    border-width: thin;
    border-color: black;
    margin: 20px 20px 0 20px;
    padding-top: 10px;
}

.info{
    margin: 0 0 0 30px;
    float: left;
}

.info h4{
    border-left-style: solid;
    border-bottom-style:solid;
    border-left-width: thin;
    width: 12px;
    padding: 0 0 0 2px;
}

.info input{
    margin: 0 0 10px 0;
}

.button{
    margin: 10px 40px 0 0;
    float: right;
}

a:link, a:visited{
    color: darkblue;
    text-decoration: none;
    font: bold;
}

a:hover{
    transition-duration: 0.4s;
}